In [6]:
import sys
print(sys.executable)

/Users/emiliodulay/Documents/1. UCLA/STATS 199/UCLA-IDS-Data-Library/datalib/bin/python

In [7]:
%pip install my-datasets-lib==0.5

Collecting my-datasets-lib==0.5
  Downloading my_datasets_lib-0.5-py3-none-any.whl.metadata (453 bytes)
Requirement already satisfied: pandas in ./datalib/lib/python3.13/site-packages (from my-datasets-lib==0.5) (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in ./datalib/lib/python3.13/site-packages (from pandas->my-datasets-lib==0.5) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./datalib/lib/python3.13/site-packages (from pandas->my-datasets-lib==0.5) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./datalib/lib/python3.13/site-packages (from pandas->my-datasets-lib==0.5) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./datalib/lib/python3.13/site-packages (from pandas->my-datasets-lib==0.5) (2025.2)
Requirement already satisfied: six>=1.5 in ./datalib/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas->my-datasets-lib==0.5) (1.17.0)
Downloading my_datasets_lib-0.5-py3-none-any.whl (396 kB)
Installing collected packages: my-datasets-lib
  Attempting uninstall: my-datasets-lib
    Found existing installation: my_datasets_lib 0.4
    Uninstalling my_datasets_lib-0.4:
      Successfully uninstalled my_datasets_lib-0.4
Successfully installed my-datasets-lib-0.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
import my_datasets_lib as ds

## Function Exists in the Module and Shows Memory Location

In [3]:
print(ds.data)

<function data at 0x105827f60>

## Print All Available Datasets

In [4]:
ds.list_datasets()

['cdc']

## Load the CDC Dataset and Display the First Five Rows

In [5]:
df = ds.data("cdc")
ds.View("cdc")

/Users/emiliodulay/Documents/1. UCLA/STATS 199/UCLA-IDS-Data-Library/my_datasets_lib/datasets/cdc.py:7: DtypeWarning: Columns (19,20,22,23,24,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)
/Users/emiliodulay/Documents/1. UCLA/STATS 199/UCLA-IDS-Data-Library/my_datasets_lib/datasets/cdc.py:7: DtypeWarning: Columns (19,20,22,23,24,28,30) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,age,sex,grade,height,weight,seat_belt,drive_text,hisp_latino,american_indian_or_alaska_native,asian,...,eat_salad,drink_soda,drink_milk,eat_breakfast,days_exercise_60,screen_time,number_teams,hours_sleep,drink_sportdrink,drink_water
0,16 years old,Female,11th grade,1.57,70.31,Always,Did not drive,No,No,No,...,Did not eat green salad,Did not drink soda or pop,1 to 3 glasses,3 days,4 days,5 or more hours per day,2 teams,5 hours,I did not drink,4 to 6 times
1,15 years old,Male,NaN,NaN,NaN,Most of the time,Did not drive,Yes,Yes,No,...,Did not eat green salad,4 to 6 times,4 to 6 glasses,5 days,7 days,5 or more hours per day,0 teams,8 hours,1 to 3 times,3 times per day
2,15 years old,Male,10th grade,1.70,61.69,Always,Did not drive,Yes,No,No,...,Did not eat green salad,4 to 6 times,4 or more glasses per day,5 days,5 days,5 or more hours per day,0 teams,8 hours,I did not drink,2 times per day
3,15 years old,Male,10th grade,1.75,60.33,Most of the time,0 days,Yes,No,No,...,Did not eat green salad,1 to 3 times,1 to 3 glasses,1 day,1 day,3 hours per day,0 teams,7 hours,I did not drink,4 or more times per day
4,14 years old,Male,10th grade,1.90,88.91,Always,Did not drive,Yes,Yes,No,...,1 to 3 times,4 to 6 times,1 glass per day,7 days,1 day,5 or more hours per day,0 teams,7 hours,4 to 6 times,4 or more times per day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17227,16 years old,Female,10th grade,1.50,68.04,Always,0 days,No,No,No,...,NaN,NaN,NaN,2 days,1 day,2 hours per day,NaN,8 hours,NaN,3 times per day
17228,17 years old,Male,12th grade,1.83,74.84,Most of the time,0 days,No,No,No,...,NaN,NaN,NaN,5 days,7 days,4 hours per day,NaN,6 hours,NaN,2 times per day
17229,15 years old,Male,9th grade,1.70,90.72,Always,Did not drive,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17230,15 years old,Female,9th grade,1.68,86.18,Sometimes,NaN,No,No,No,...,NaN,NaN,NaN,0 days,0 days,5 or more hours per day,NaN,NaN,NaN,3 times per day
17231,18 years old or older,Female,12th grade,1.57,56.70,Always,0 days,No,No,No,...,NaN,NaN,NaN,7 days,4 days,3 hours per day,NaN,8 hours,NaN,3 times per day

## Print the Description of the CDC Dataset

In [13]:
print(ds.describe("cdc"))

CDC Youth Risk Behavior Survey Data

    **Description**
    A dataset containing responses from the 2021 CDC Youth Risk Behavior Survey.

    **Usage**
    `data(cdc)`

    **Format**
    A data frame with 17,232 observations of 32 variables.

    **Details**
    - **age** — age in years
    - **sex** — sex assigned at birth
    - **grade** — grade in school
    - **height** — height of student in meters
    - **weight** — weight of student in kilograms
    - **seat_belt** — how often student wore a seatbelt in a motor vehicle driven by someone else
    - **drive_text** — how often the student reported texting while driving in the past 30 days
    - **hisp_latino** — whether or not student identifies as Hispanic or Latino
    - **american_indian_or_alaska_native** — whether or not student identifies as American Indian or Alaska Native
    - **asian** — whether or not student identifies as Asian
    - **black_or_african_american** — whether or not student identifies as Black or African American
    - **native_hawaiian_or_other_pacific_islander** — whether or not student identifies as Native Hawaiian or other Pacific Islander
    - **white** — whether or not student identifies as White
    - **bully_school** — did the student report being bullied at school
    - **bully_electronic** — did the student report being bullied online
    - **depressed** — student reported feeling depressed for 2 weeks in a row or more during the past 12 months
    - **days_smoking** — number of days student reported smoking cigarettes during past 30 days
    - **days_vaping** — number of days student reported vaping/smoking electronic cigarettes during past 30 days
    - **sexuality** — how the student describes their sexual orientation
    - **describe_weight** — student perception of their weight relative to what they believe it should be
    - **drink_juice** — how often student consumed fruit juice over the previous 7 days
    - **eat_fruit** — how often student ate fruit over the previous 7 days
    - **eat_salad** — how often student ate salad over the previous 7 days
    - **drink_soda** — how often student consumed soda over the previous 7 days
    - **drink_milk** — how often student drank milk over the previous 7 days
    - **eat_breakfast** — how often the student reported eating breakfast over the past 7 days
    - **days_exercise_60** — how often student was active for at least 60 mins over the previous 7 days
    - **screen_time** — average number of hours spent on a screen on a school day
    - **number_teams** — number of sports teams played on during previous 12 months
    - **hours_sleep** — reported hours of sleep on school nights
    - **drink_sportdrink** — how often student consumed sports drinks over the past 7 days
    - **drink_water** — how often student consumed water over the past 7 days

    **Source**
    http://www.cdc.gov/HealthyYouth/yrbs/index.htm